<!DOCTYPE html>
<html>
	<%- partial('_partial/head/layout') %>
	<body>
		<%- partial('_partial/header/layout') %>
		<%- partial('_partial/aside/layout') %>
		<main class="main">
			<%- body %>
		</main>
		<%- partial('_partial/footer/layout') %>
	</body>
</html>